<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fakelauncher">
	
    <uses-permission android:name="android.permission.INTERNET"/>	
		
    <application
        android:label="FakeLauncher"
		android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
        android:icon="@drawable/ic_launcher">

		<receiver		
			android:directBootAware="true"
			android:exported="true"
			android:process=":adm"
            android:name=".MyDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
				<action android:name="android.app.action.PASSWORD_FAILED" />
            </intent-filter>
        </receiver>
		
		<activity
			android:showWhenLocked="true"
			android:turnScreenOn="true"
			android:directBootAware="true"
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
		<activity
			android:showWhenLocked="true"
			android:turnScreenOn="true"
			android:directBootAware="true"
            android:name=".CompassActivity"
            android:exported="true">
        </activity>
		
		<activity
			android:showWhenLocked="true"
			android:turnScreenOn="true"
			android:directBootAware="true"
            android:name=".GalleryActivity"
            android:exported="true">
        </activity>
		
        <activity
			android:showWhenLocked="true"
			android:turnScreenOn="true"
			android:directBootAware="true"
            android:name=".BrowserActivity"
            android:exported="true">
        </activity>

		<activity
			android:showWhenLocked="true"
			android:turnScreenOn="true"
			android:directBootAware="true"
            android:name=".ClockActivity"
            android:exported="true">
        </activity>
		
		<activity
			android:showWhenLocked="true"
			android:turnScreenOn="true"
			android:directBootAware="true"
            android:name=".FakeSmsActivity"
            android:exported="true">
        </activity>
		
        <activity
			android:showWhenLocked="true"
			android:turnScreenOn="true"
			android:directBootAware="true"
            android:name=".PhoneActivity"
            android:exported="true">
        </activity>

    </application>
</manifest>
